@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --max-width: 1800px;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
}

.hero {
  background-image: url("../public/images/Hallo-in-sky-background.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .hero {
    min-height: 65vh;
    background-position: top center;

  }
}

@media screen and (min-width: 1280px) {
  .hero {
    min-height: 70vh;
    background-position: top center;

  }
}




/* .hero {
  background-image: url("../public/images/Hallo-in-sky-background.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
}


@media screen and (min-width: 375px) {
  .hero {
    min-height: 100vh;
  }
}


@media screen and (max-width: 768px) {
  .hero {
    min-height: 65vh;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    min-height: 70vh;
  }
} */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
  width: max-content;
}